body {
    background: rgb(81, 145, 213);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
  }
  form {
    width: 300px;
    border: color(srgb 255 0 0 ) ;
  }
  input {
    background-color: rgb(116, 166, 218);
    padding: 5px;
    color: black;
    margin-bottom: 10px;
    width: -webkit-fill-available;
  }
  button {
    cursor: pointer;
    width: -webkit-fill-available;
  }
  button:active{
    opacity: 0.8;
  }
  button[disabled]{
    opacity: 0.5;
  }
  .btn1 {
    background-color: rgb(22, 78, 139);
    padding: 5px;
    color: white;
    margin-bottom: 10px;
    border: none;
  }
  .btn2 {
    background-color: rgb(22, 78, 139);
    padding: 5px;
    color: white;
    margin-bottom: 10px;
    border: none;
  }
  .btn3 {
    background-color: rgb(22, 78, 139);
    padding: 5px;
    color: white;
    margin-bottom: 10px;
    border: none;
  }
  ::-webkit-input-placeholder {
     color: black;
     font: 12px verdana, arial, sans-serif;
  }
 
  :-moz-placeholder {
     color: black;
     font: 12px verdana, arial, sans-serif;
  }
 
  ::-moz-placeholder {
     color: black;  
     font: 12px verdana, arial, sans-serif;
  }
 
  :-ms-input-placeholder {  
     color: black;  
     font: 12px verdana, arial, sans-serif;
  }